<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FirebirdConnectionString" connectionString="User ID=sysdba;Password=123654; Database=localhost:C:\\_ELTRADEBACKOFFICE.GDB; DataSource=localhost;Charset=WIN1251;" />
  </connectionStrings>
  <appSettings>
    <add key="SelectUsersCommand" value="SELECT o.OPERATOR_ID, o.OPERATOR_USERNAME, o.OPERATOR_FULLNAME FROM N_OPERATORS o" />
    <add key="SelectSalesCommand" value="SELECT FIRST {0} sb.SELL_ID, sb.SELL_BONNUMB, sb.SELL_TBLNUMB, sb.SELL_DATETIME, sb.SELL_SUM FROM SALES_BON sb WHERE sb.SELL_OPERATOR = {1} ORDER BY sb.SELL_DATETIME desc" />
    <add key="SelectSaleCommand" value="SELECT sp.SPLU_ID, sp.SPLU_NAME, sp.SPLU_SOLDQUANT, sp.SPLU_SELLPRICE, sp.SPLU_SOLDQUANT * sp.SPLU_SELLPRICE FROM SALES_PLUES sp WHERE sp.SPLU_SELL_ID = {0} ORDER BY sp.SPLU_ID" />
    <add key="MaxSalesCount" value="10" />
  </appSettings>
</configuration>