<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FirebirdConnectionString" connectionString="User ID=sysdba;Password=123654; Database=localhost:C:\\_ELTRADEBACKOFFICE.GDB; DataSource=localhost;Charset=WIN1251;"/>
  </connectionStrings>
  <appSettings>
    <add key="WorkTimes" value="1,Първа Смяна,08:00,17:00;2,Втора Смяна,17:00,08:00" />
    <add key="SelectCommand" value="SELECT sb.SELL_ID, sb.SELL_TERMINAL, sb.SELL_OPERATOR, sb.SELL_OPERNAME, sb.SELL_SUM, sb.SELL_DISCSUM FROM SALES_BON sb WHERE sb.SELL_OPERATOR &lt;&gt; 42 AND sb.SELL_DATETIME BETWEEN '{0}' AND '{1}' ORDER BY sb.SELL_ID" />
  </appSettings>
</configuration>