<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DetelinaPriceEditor.Properties.Settings.connectionString"
            connectionString="User ID=sysdba;Password=123654; Database=localhost:C:\\ELTRADEBACKOFFICE.GDB; DataSource=localhost;Charset=WIN1251;"
            providerName="" />
    </connectionStrings>
</configuration>