<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FirebirdConnectionString" connectionString="User ID=sysdba;Password=123654; Database=localhost:C:\\ELTRADEBACKOFFICE.GDB; DataSource=localhost;Charset=WIN1251;" />
  </connectionStrings>
  <appSettings>
    <add key="SelectCommand" value="SELECT sp.SPLU_SELL_ID, sb.SELL_FISCAL_, sp.SPLU_DATETIME, sb.SELL_OPERNAME, sp.SPLU_SOLDQUANT, sp.SPLU_SELLPRICE, sp.SPLU_SOLDQUANT * sp.SPLU_SELLPRICE, sp.SPLU_NAME, p.PLU_PRINTDEVICE_ID FROM SALES_PLUES sp LEFT JOIN SALES_BON sb ON sb.SELL_ID = sp.SPLU_SELL_ID LEFT JOIN PLUES p ON sp.SPLU_PLUNUMB = p.PLU_NUMB WHERE sp.SPLU_BONNUMB BETWEEN 100400 AND 100427 ORDER BY sp.SPLU_BONNUMB" />
    <add key="TimeOffset" value="-12" />
    <add key="PathToReport" value="C:\reports" />
    <add key="KitchenGroup" value="3" />
  </appSettings>
</configuration>